/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    top: 100px;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div.content.px-4 {
    height: 90%;
}